251

In [1]:
# *클래스 : 변수와 메소드를 정의하는 틀(template)
# *객체 : 클래스로 만들어진 결과물

252

In [2]:
class Human:
    pass

253

In [3]:
class Human:
    pass

areum = Human()

254

In [5]:
class Human:
    def __init__(self):
        print("응애응애")
    
areum = Human()

응애응애

255

In [8]:
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
        
areum = Human("아름", 25, "여자")
print(areum.name)

아름

256

In [9]:
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
        
areum = Human("아름", 25, "여자")
print(areum.name, areum.age, areum.sex)

아름 25 여자

257

In [13]:
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
        
    def who(self):
        print(f"이름: {self.name}, 나이: {self.age}, 성별: {self.sex}")
        
areum = Human("아름", 25, "여자")
areum.who()

이름: 아름, 나이: 25, 성별: 여자

258

In [12]:
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

    def who(self):
        print("이름: {} 나이: {} 성별: {}".format(self.name, self.age, self.sex))

    def setInfo(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex


areum = Human("불명", "미상", "모름")
areum.who()

이름: 불명 나이: 미상 성별: 모름

259

In [15]:
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
        
    def __del__(self):
        print("나의 죽음을 알리지마라")

    def who(self):
        print("이름: {} 나이: {} 성별: {}".format(self.name, self.age, self.sex))

    def setInfo(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
        
areum = Human("불명", "미상", "모름")
del(areum)

나의 죽음을 알리지마라

260

In [ ]:
class OMG :
    def print() : # 매개변수를 지정해 주지 않음
        print("Oh my god")


mystock = OMG()
mystock.print()

261

In [ ]:
class Stock:
    pass

262

In [16]:
class Stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code
        
삼성 = Stock("삼성전자", "005930")
print(삼성.name)
print(삼성.code)

삼성전자
005930

263

In [ ]:
class Stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code
        
    def set_name(self, name):
        self.name = name

264

In [ ]:
class Stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code
        
    def set_name(self, name):
        self.name = name
        
    def set_code(self, code)
        self.code = code

265

In [ ]:
class Stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code

    def set_name(self, name):
        self.name = name

    def set_code(self, code):
        self.code = code

    def get_name(self):
        return self.name

    def get_code(self):
        return self.code

266

In [ ]:
class Stock:
    def __init__(self, name, code, per, pbr, 배당수익률):
        self.name = name
        self.code = code
        self.per = per
        self.pbr = pbr
        self.배당수익률 = 배당수익률

    def set_name(self, name):
        self.name = name

    def set_code(self, code):
        self.code = code

    def get_name(self):
        return self.name

    def get_code(self):
        return self.code

267

In [17]:
class Stock:
    def __init__(self, name, code, per, pbr, 배당수익률):
        self.name = name
        self.code = code
        self.per = per
        self.pbr = pbr
        self.배당수익률 = 배당수익률

    def set_name(self, name):
        self.name = name

    def set_code(self, code):
        self.code = code

    def get_name(self):
        return self.name

    def get_code(self):
        return self.code
    
삼성 = Stock("삼성전자", "005930", 15.79, 1.33, 2.83)
print(삼성.배당수익률)

2.83

268

In [ ]:
class Stock:
    def __init__(self, name, code, per, pbr, dividend):
        self.name = name
        self.code = code
        self.per = per
        self.pbr = pbr
        self.dividend = dividend

    def set_name(self, name):
        self.name = name

    def set_code(self, code):
        self.code = code

    def get_name(self):
        return self.name

    def get_code(self):
        return self.code

    def set_per(self, per):
        self.per = per

    def set_pbr(self, pbr):
        self.pbr = pbr

    def set_dividend(self, dividend):
        self.dividend = dividend

269

In [18]:
class Stock:
    def __init__(self, name, code, per, pbr, dividend):
        self.name = name
        self.code = code
        self.per = per
        self.pbr = pbr
        self.dividend = dividend

    def set_name(self, name):
        self.name = name

    def set_code(self, code):
        self.code = code

    def get_name(self):
        return self.name

    def get_code(self):
        return self.code

    def set_per(self, per):
        self.per = per

    def set_pbr(self, pbr):
        self.pbr = pbr

    def set_dividend(self, dividend):
        self.dividend = dividend

삼성 = Stock("삼성전자", "005930", 15.79, 1.33, 2.83)
삼성.set_per(12.75)
print(삼성.per)

12.75

270

In [19]:
class Stock:
    def __init__(self, name, code, per, pbr, dividend):
        self.name = name
        self.code = code
        self.per = per
        self.pbr = pbr
        self.dividend = dividend

    def set_name(self, name):
        self.name = name

    def set_code(self, code):
        self.code = code

    def get_name(self):
        return self.name

    def get_code(self):
        return self.code

    def set_per(self, per):
        self.per = per

    def set_pbr(self, pbr):
        self.pbr = pbr

    def set_dividend(self, dividend):
        self.dividend = dividend
        
종목 = []

삼성 = Stock("삼성전자", "005930", 15.79, 1.33, 2.83)
현대차 = Stock("현대차", "005380", 8.70, 0.35, 4.27)
LG전자 = Stock("LG전자", "066570", 317.34, 0.69, 1.37)

종목.append(삼성)
종목.append(현대차)
종목.append(LG전자)

for i in 종목:
    print(i.code, i.per)

005930 15.79
005380 8.7
066570 317.34

271

In [ ]:
import random

class Account:
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)
        num1 = str(num1).zfill(3)
        num2 = str(num1).zfill(2)
        num3 = str(num1).zfill(6)
        self.account_num = num1 + '-' + num2 + '-' + num3

272

In [ ]:
import random

class Account:
    account_cnt = 0
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)
        num1 = str(num1).zfill(3)
        num2 = str(num1).zfill(2)
        num3 = str(num1).zfill(6)
        self.account_num = num1 + '-' + num2 + '-' + num3
        Account.account_cnt += 1

273

In [ ]:
import random

class Account:
    account_cnt = 0
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)
        num1 = str(num1).zfill(3)
        num2 = str(num1).zfill(2)
        num3 = str(num1).zfill(6)
        self.account_num = num1 + '-' + num2 + '-' + num3
        Account.account_cnt += 1
    
    @classmethod
    def get_account_num(cls):
        print(cls.account_cnt)

274

In [ ]:
import random

class Account:
    account_cnt = 0
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)
        num1 = str(num1).zfill(3)
        num2 = str(num1).zfill(2)
        num3 = str(num1).zfill(6)
        self.account_num = num1 + '-' + num2 + '-' + num3
        Account.account_cnt += 1
    
    @classmethod
    def get_account_num(cls):
        print(cls.account_cnt)
        
    def deposit(self, amount):
        if amount >= 1:
            self.balance += amount

275

In [23]:
import random

class Account:
    account_cnt = 0
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)
        num1 = str(num1).zfill(3)
        num2 = str(num1).zfill(2)
        num3 = str(num1).zfill(6)
        self.account_num = num1 + '-' + num2 + '-' + num3
        Account.account_cnt += 1
    
    @classmethod
    def get_account_num(cls):
        print(cls.account_cnt)
        
    def deposit(self, amount):
        if amount >= 1:
            self.balance += amount
    
    def withdraw(self, amount):
        if self.balance > amount:
            self.balance -= amount

276

In [21]:
import random

class Account:
    account_cnt = 0
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)
        num1 = str(num1).zfill(3)
        num2 = str(num1).zfill(2)
        num3 = str(num1).zfill(6)
        self.account_num = num1 + '-' + num2 + '-' + num3
        Account.account_cnt += 1
    
    @classmethod
    def get_account_num(cls):
        print(cls.account_cnt)
        
    def deposit(self, amount):
        if amount >= 1:
            self.balance += amount
    
    def withdraw(self, amount):
        if self.balance > amount:
            self.balance -= amount
    
    def display_info(self):
        print("은행이름:", self.bank)
        print("예금주:", self.name)
        print("계좌번호:", self.account_num)
        print("잔고:", f"{self.balance:,}")
        
i = Account("박준형", 10000000000)
i.display_info()

은행이름: SC은행
예금주: 박준형
계좌번호: 041-041-000041
잔고: 10,000,000,000

277

In [ ]:
import random

class Account:
    account_cnt = 0
    def __init__(self, name, balance):
        self.deposit_cnt = 0
        self.name = name
        self.balance = balance
        self.bank = "SC은행"
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)
        num1 = str(num1).zfill(3)
        num2 = str(num1).zfill(2)
        num3 = str(num1).zfill(6)
        self.account_num = num1 + '-' + num2 + '-' + num3
        Account.account_cnt += 1
    
    @classmethod
    def get_account_num(cls):
        print(cls.account_cnt)
        
    def deposit(self, amount):
        if amount >= 1:
            self.balance += amount
            
            self.deposit_cnt += 1
            if self.deposit_cnt % 5 == 0:
                self.balance = self.balance * 1.01
    
    def withdraw(self, amount):
        if self.balance > amount:
            self.balance -= amount
    
    def display_info(self):
        print("은행이름:", self.bank)
        print("예금주:", self.name)
        print("계좌번호:", self.account_num)
        print("잔고:", f"{self.balance:,}")

278

In [ ]:
list = []
p = Account("Park", 1000000000)
l = Account("Lee", 500000)
k = Account("Kim", 700000000)

list.append(p)
list.append(l)
list.append(k)

print(list)

279

In [25]:
import random

class Account:
    account_cnt = 0
    def __init__(self, name, balance):
        self.deposit_cnt = 0
        self.name = name
        self.balance = balance
        self.bank = "SC은행"
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)
        num1 = str(num1).zfill(3)
        num2 = str(num1).zfill(2)
        num3 = str(num1).zfill(6)
        self.account_num = num1 + '-' + num2 + '-' + num3
        Account.account_cnt += 1
    
    @classmethod
    def get_account_num(cls):
        print(cls.account_cnt)
        
    def deposit(self, amount):
        if amount >= 1:
            self.balance += amount
            
            self.deposit_cnt += 1
            if self.deposit_cnt % 5 == 0:
                self.balance = self.balance * 1.01
    
    def withdraw(self, amount):
        if self.balance > amount:
            self.balance -= amount
    
    def display_info(self):
        print("은행이름:", self.bank)
        print("예금주:", self.name)
        print("계좌번호:", self.account_num)
        print("잔고:", f"{self.balance:,}")
        
list = []
p = Account("Park", 1000000000)
l = Account("Lee", 500000)
k = Account("Kim", 700000000)

list.append(p)
list.append(l)
list.append(k)

for i in list:
    if i.balance >= 1000000:
        i.display_info()

은행이름: SC은행
예금주: Park
계좌번호: 658-658-000658
잔고: 1,000,000,000
은행이름: SC은행
예금주: Kim
계좌번호: 389-389-000389
잔고: 700,000,000

280

In [ ]:
import random

class Account:
    account_cnt = 0
    def __init__(self, name, balance):
        self.deposit_cnt = 0
        self.name = name
        self.balance = balance
        self.bank = "SC은행"
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)
        num1 = str(num1).zfill(3)
        num2 = str(num1).zfill(2)
        num3 = str(num1).zfill(6)
        self.account_num = num1 + '-' + num2 + '-' + num3
        Account.account_cnt += 1
    
    @classmethod
    def get_account_num(cls):
        print(cls.account_cnt)
        
    def deposit(self, amount):
        if amount >= 1:
            self.balance += amount
            
            self.deposit_cnt += 1
            if self.deposit_cnt % 5 == 0:
                self.balance = self.balance * 1.01
    
    def withdraw(self, amount):
        if self.balance > amount:
            self.balance -= amount
    
    def display_info(self):
        print("은행이름:", self.bank)
        print("예금주:", self.name)
        print("계좌번호:", self.account_num)
        print("잔고:", f"{self.balance:,}")
        
    def withdraw_history(self):
        for amount in self.withdraw_log:
            print(amount)

    def deposit_history(self):
        for amount in self.deposit_log:
            print(amount)

281

In [26]:
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격


car = 차(2, 1000)
print(car.바퀴)
print(car.가격)

2
1000

282

In [ ]:
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격
        
class 자전차(차):
    pass

283

In [28]:
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격
        
class 자전차(차):
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격
        
bicycle = 자전차(2, 100)
print(bicycle.가격)

100

284

In [29]:
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격
        
class 자전차(차):
    def __init__(self, 바퀴, 가격, 구동계):
        self.바퀴 = 바퀴
        self.가격 = 가격
        self.구동계 = 구동계
        
bicycle = 자전차(2, 100, "시마노")
print(bicycle.구동계)
print(bicycle.바퀴)

시마노
2

285

In [30]:
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격

class 자동차(차):
    def __init__(self, 바퀴, 가격):
        super().__init__(바퀴, 가격)
    
    def 정보(self):
        print("바퀴수 ", self.바퀴)
        print("가격 ", self.가격)
        
car = 자동차(4, 1000)
car.정보()

바퀴수  4
가격  1000

286

In [32]:
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격
    
    def 정보(self):
        print("바퀴수 ", self.바퀴)
        print("가격 ", self.가격)
        
class 자전차(차):
    def __init__(self, 바퀴, 가격, 구동계):
        super().__init__(바퀴, 가격)
        self.구동계 = 구동계
        
bicycle = 자전차(2, 100, "시마노")
bicycle.정보()

바퀴수  2
가격  100

287

In [33]:
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격
    
    def 정보(self):
        print("바퀴수 ", self.바퀴)
        print("가격 ", self.가격)
        
class 자전차(차):
    def __init__(self, 바퀴, 가격, 구동계):
        super().__init__(바퀴, 가격)
        self.구동계 = 구동계
        
    def 정보(self):
        super().정보()
        print("구동계", self.구동계)
        
bicycle = 자전차(2, 100, "시마노")
bicycle.정보()

바퀴수  2
가격  100
구동계 시마노

288

In [34]:
class 부모:
  def 호출(self):
    print("부모호출")

class 자식(부모):
  def 호출(self):
    print("자식호출")
    
나 = 자식()
나.호출()

자식호출

289

In [35]:
class 부모:
  def __init__(self):
    print("부모생성")

class 자식(부모):
  def __init__(self):
    print("자식생성")

나 = 자식()

자식생성

290

In [36]:
class 부모:
  def __init__(self):
    print("부모생성")

class 자식(부모):
  def __init__(self):
    print("자식생성")
    super().__init__()

나 = 자식()

자식생성
부모생성