101

bool 타입 -> True, False

102

In [1]:
print(3 == 5)

False

103

In [2]:
print(3 < 5)

True

104

In [3]:
x = 4
print(1 < x < 5)

True

105

In [4]:
print((3 == 3) & (4 != 3))

True

106

In [ ]:
print(3 => 4) # 이런 연산자 없음

107

In [5]:
if 4 < 3:
    print("Hello World")

108

In [6]:
if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")

Hi, there.

109

In [7]:
if True:
    print("1")
    print("2")
else:
    print("3")
print("4")

1
2
4

110

In [8]:
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

3
5

111

In [10]:
hi = input("입력: ")
print(hi * 2)

입력: 안녕하세요
안녕하세요안녕하세요

112

In [12]:
num = input("숫자를 입력하세요: ")
print(int(num) + 10)

숫자를 입력하세요: 30
40

113

In [14]:
num = input("정수를 입력하세요: ")
if int(num) % 2 == 0:
    print("짝수")
else:
    print("홀수")

정수를 입력하세요: 30
짝수

114

In [18]:
num = input("정수를 입력하세요: ")
if int(num) > 255:
    print(255)
else:
    print(int(num) + 20)

정수를 입력하세요: 256
255

115

In [21]:
num = input("입력: ")
if 0 <= int(num) - 20 <= 255:
    print(int(num) - 20)
elif int(num) - 20 < 0:
    print(0)
else:
    print(255)

입력: -1
0

116

In [23]:
time = input("현재시간: ")
if time[-2:] == "00":
    print("정각입니다.")
else:
    print("정각이 아닙니다.")

현재시간: 1200
정각입니다.

117

In [26]:
fruit = ["사과", "포도", "홍시"]
fav = input("OO이가 좋아하는 과일은? ")
if fav in fruit:
    print("정답입니다.")
else:
    print("오답입니다.")

OO이가 좋아하는 과일은? 샤인머스캣
오답입니다.

118

In [34]:
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
item = input("종목명 조회: ")
item_lower = item.lower()

if item_lower in map(str.lower, warn_investment_list):
    print("투자 경고 종목입니다.")
else:
    print("투자 경고 종목이 아닙니다.")

종목명 조회: NAVER
투자 경고 종목입니다.

119

In [37]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
key_in = input("ㅇㅇ이가 좋아하는 계절은? ")
if key_in in fruit.keys():
    print("정답입니다.")
else:
    print("오답입니다.")

ㅇㅇ이가 좋아하는 계절은? 여름
정답입니다.

120

In [36]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
value_in = input("ㅇㅇ이가 좋아하는 과일은? ")
if value_in in fruit.values():
    print("정답입니다.")
else:
    print("오답입니다.")

ㅇㅇ이가 좋아하는 과일은? 딸기
정답입니다.

121

In [41]:
alphabet = input()
if alphabet.islower():
    print(alphabet.upper())
else:
    print(alphabet.lower())

A
a

122

In [42]:
score = input("score: ")
score = int(score)
if 81 <= score <= 100:
    print("grade is A")
elif 61 <= score <= 80:
    print("grade is B")
elif 41 <= score <= 60:
    print("grade is C")
elif 21 <= score <= 40:
    print("grade is D")
else:
    print("grade is E")

score: 100
grade is A

123

In [68]:
환율 = {"달러": 1167, 
        "엔": 1.096, 
        "유로": 1268, 
        "위안": 171}
money = input("입력: ")
num, currency = money.split()
print(float(num) * 환율[currency], "원")

입력: 600 유로
760800.0 원

124

In [70]:
num1 = int(input("첫번째 정수를 입력하세요: "))
num2 = int(input("두번째 정수를 입력하세요: "))
num3 = int(input("세번째 정수를 입력하세요: "))
max_num = max(num1, num2, num3)
print(max_num)

첫번째 정수를 입력하세요: 1
두번째 정수를 입력하세요: 2
세번째 정수를 입력하세요: 3
3

125

In [74]:
p_num = input("휴대전화 번호 입력(- 생략): ")
num = p_num[:3]
if num == "011":
    tel = "SKT"
elif num == "016":
    tel = "KT"
elif num == "019":
    tel = "LGU+"
else:
    tel = "알수없음"
print(f"당신은 {tel} 사용자입니다.")

휴대전화 번호 입력(- 생략): 019
당신은 LGU+ 사용자입니다.

126

In [76]:
p_num = input("우편번호(01xxx): ")
num = p_num[2]
if num in [0, 1, 2]:
    print("강북구")
elif num in [3, 4, 5]:
    print("도봉구")
else:
    print("노원구")

우편번호(01xxx): 01678
노원구

127

In [79]:
id = input("주민등록번호(- 포함): ")
sex = int(id[-7]) # 문자열과 정수 구분 !
if sex in [1, 3]:
    print("남자")
else:
    print("여자")

주민등록번호(- 포함): 001208-3000000
남자

128

In [82]:
id = input("주민등록번호(- 포함): ")
city = int(id[-5])
if city in range(0, 9):
    print("서울입니다.")
else:
    print("서울이 아닙니다.")

주민등록번호(- 포함): 001208-3050000
서울입니다.

129

In [85]:
num = input("주민등록번호: ")
계산1 = int(num[0]) * 2 + int(num[1]) * 3 + int(num[2]) * 4 + int(num[3]) * 5 + int(num[4]) * 6 + \
        int(num[5]) * 7 + int(num[7]) * 8 + int(num[8]) * 9 + int(num[9]) * 2 + int(num[10])* 3 + \
        int(num[11])* 4 + int(num[12]) * 5
계산2 = 11 - (계산1 % 11)
계산3 = str(계산2)

if num[-1] == 계산3[-1]:
    print("유효한 주민등록번호입니다.")
else:
    print("유효하지 않은 주민등록번호입니다.")

주민등록번호: 001208-3513253
유효하지 않은 주민등록번호입니다.

130

In [88]:
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

변동폭 = float(btc['max_price']) - float(btc['min_price'])
시가 = float(btc['opening_price'])
최고가 = float(btc['max_price'])

if (시가 + 변동폭) > 최고가:
    print("상승장")
else:
    print("하락장")

상승장

131

In [43]:
fruit = ["사과", "귤", "수박"]
for vir in fruit:
    print(vir)

사과
귤
수박

132

In [44]:
fruit = ["사과", "귤", "수박"]
for vir in fruit:
  print("#####")

#####
#####
#####

133

In [45]:
변수 = "A"
print(변수)
변수 = "B"
print(변수)
변수 = "C"
print(변수)

A
B
C

134

In [46]:
변수 = "A"
print("출력:", 변수)
변수 = "B"
print("출력:", 변수)
변수 = "C"
print("출력:", 변수)

출력: A
출력: B
출력: C

135

In [47]:
변수 = "A"
b = 변수.lower()
print("변환:", b)
변수 = "B"
b = 변수.lower()
print("변환:", b)
변수 = "C"
b = 변수.lower()
print("변환:", b)

변환: a
변환: b
변환: c

136

In [48]:
for 변수 in [10, 20, 30]:
    print(변수)

10
20
30

137

In [49]:
for 변수 in [10, 20, 30]:
    print(변수)

10
20
30

138

In [52]:
for 변수 in [10, 20, 30]:
    print(변수)
    print("-------")

10
-------
20
-------
30
-------

139

In [53]:
print("++++")
for 변수 in [10, 20, 30]:
    print(변수)

++++
10
20
30

140

In [54]:
for 변수 in [1, 2, 3, 4]:
    print("-------")

-------
-------
-------
-------

141

In [55]:
리스트 = [100, 200, 300]
for charge in 리스트:
    print(charge + 10)

110
210
310

142

In [56]:
리스트 = ["김밥", "라면", "튀김"]
for 메뉴 in 리스트:
    print("오늘의 메뉴:", 메뉴)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

143

In [57]:
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for le in 리스트:
    print(len(le))

6
4
4

144

In [59]:
리스트 = ['dog', 'cat', 'parrot']
for name in 리스트:
    print(name, len(name))

dog 3
cat 3
parrot 6

145

In [60]:
리스트 = ['dog', 'cat', 'parrot']
for name in 리스트:
    print(name[0])

d
c
p

146

In [61]:
리스트 = [1, 2, 3]
for i in 리스트:
    print("3 x " + str(i))

3 x 1
3 x 2
3 x 3

147

In [63]:
리스트 = [1, 2, 3]
for i in 리스트:
    print(f"3 x {i} = {3 * i}")

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

148

In [64]:
리스트 = ["가", "나", "다", "라"]
for i in 리스트[1:]:
    print(i)

나
다
라

149

In [65]:
리스트 = ["가", "나", "다", "라"]
for i in 리스트[::2]:
    print(i)

가
다

150

In [66]:
리스트 = ["가", "나", "다", "라"]
for i in 리스트[: :-1]:
    print(i)

라
다
나
가

151

In [89]:
리스트 = [3, -20, -3, 44]
for i in 리스트:
    if i < 0:
        print(i)

-20
-3

152

In [90]:
리스트 = [3, 100, 23, 44]
for i in 리스트:
    if i % 3 == 0:
        print(i)

3

153

In [92]:
리스트 = [13, 21, 12, 14, 30, 18]
for i in 리스트:
    if i % 3 == 0 and i < 20:
        print(i)

12
18

154

In [93]:
리스트 = ["I", "study", "python", "language", "!"]
for i in 리스트:
    if len(i) >= 3:
        print(i)

study
python
language

155

In [94]:
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.isupper():
        print(i)

A
D

156

In [95]:
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.islower():
        print(i)

b
c

157

In [96]:
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i.title())

Dog
Cat
Parrot

158

In [99]:
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for i in 리스트:
    i = i.split(".")
    print(i[0])

hello
ex01
intro

159

In [101]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
    if i.endswith(".h"):
        print(i)

intra.h
define.h

160

In [102]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
    if i.endswith(".h") or i.endswith(".c"):
        print(i)

intra.h
intra.c
define.h

161

In [ ]:
for i in range(0, 100):
    print(i)

162

In [104]:
for i in range(2002, 2051, 4):
    print(i, end=" ")

2002 2006 2010 2014 2018 2022 2026 2030 2034 2038 2042 2046 2050

163

In [106]:
for i in range(3, 31, 3):
    print(i, end=" ")

3 6 9 12 15 18 21 24 27 30

164

In [ ]:
for i in range(100):
    print(99 - i)

165

In [111]:
for i in range(10):
    print(i / 10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

166

In [112]:
for i in range(1, 10):
    print(f"3x{i} = {3 * i}")

3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27

167

In [116]:
for i in range(1, 10):
    if i % 2 == 1:
        print(f"3x{i} = {3 * i}")

3x1 = 3
3x3 = 9
3x5 = 15
3x7 = 21
3x9 = 27

168

In [123]:
total = 0
for i in range(1, 11):
    total += i
print("합 : " + str(total))

합 : 55

169

In [124]:
total = 0
for i in range(1, 11):
    if i % 2 == 1:
        total += i
print("합 : " + str(total))

합 : 25

170

In [126]:
total = 1
for i in range(1, 11):
    total *= i
print("곱 : " + str(total))

곱 : 3628800

171

In [2]:
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(price_list[i])

32100
32150
32000
32500

172

In [3]:
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(i, price_list[i])

0 32100
1 32150
2 32000
3 32500

173

In [8]:
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print((len(price_list) - 1) - i, price_list[i])

3 32100
2 32150
1 32000
0 32500

174

In [9]:
price_list = [32100, 32150, 32000, 32500]
for i in range(1, 4):
    print(90 + 10 * i, price_list[i])

100 32150
110 32000
120 32500

175

In [16]:
my_list = ["가", "나", "다", "라"]
for i in range(0, len(my_list) - 1):
    print(my_list[i], my_list[i + 1])

가 나
나 다
다 라

176

In [17]:
my_list = ["가", "나", "다", "라", "마"]
for i in range(0, len(my_list) - 2):
    print(my_list[i], my_list[i + 1], my_list[i + 2])

가 나 다
나 다 라
다 라 마

177

In [4]:
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list) - 1, 0 , -1):
    print(my_list[i], my_list[i - 1])

라 다
다 나
나 가

178

In [9]:
my_list = [100, 200, 400, 800]
for i in range(len(my_list) - 1):
    print(my_list[i + 1] - my_list[i])

100
200
400

179

In [11]:
my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(len(my_list) - 2):
    ave = (my_list[i] + my_list[i + 1] + my_list[i + 2]) / 3
    print(ave)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

180

In [12]:
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility = []
for i in range(len(low_prices)):
    volatility.append(high_prices[i] - low_prices[i])
print(volatility)

[50, 100, 30, 80, 0]

181

In [ ]:
apart = [["101호", "102호"], ["210호", "202호"], ["301호", "302호"]]

182

In [ ]:
stock = [ ["시가", 100, 200, 300], ["종가", 80, 210, 330] ]

183

In [ ]:
stock = {"시가": [100, 200, 300], "종가": [80, 210, 330] }

184

In [ ]:
stock = {"10/10": [80, 110, 70, 90], "10/11": [210, 230, 190, 200] }

185

In [15]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(j, "호")

101 호
102 호
201 호
202 호
301 호
302 호

186

In [17]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in reversed(apart):
    for j in i:
        print(j, "호")

301 호
302 호
201 호
202 호
101 호
102 호

187

In [18]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in reversed(apart):
    for j in reversed(i):
        print(j, "호")

302 호
301 호
202 호
201 호
102 호
101 호

188

In [33]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(j, "호"); print("-----")

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

189

In [32]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(j, "호")
    print("-----")

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

190

In [34]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(j, "호")
print("-----")

101 호
102 호
201 호
202 호
301 호
302 호
-----

191

In [38]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in data:
    for j in i:
        print(j * 1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

192

In [39]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in data:
    for j in i:
        print(j * 1.00014)
    print("----")

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

193

In [42]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result = []
for i in data:
    for j in i:
        result.append(j * 1.00014)
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

194

In [45]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result = []
for i in data:
    arr = []
    for j in i:
        arr.append(j * 1.00014)
    result.append(arr)
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

195

In [48]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in ohlc[1:]:
    print(i[3])

100
190
310

196

In [49]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in ohlc[1:]:
    if i[3] > 150:
        print(i[3])

190
310

197

In [50]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in ohlc[1:]:
    if i[3] >= i[0]:
        print(i[3])

100
310

198

In [53]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
volatility = []
for i in ohlc[1:]:
    volatility.append(abs(i[1] - i[2]))
print(volatility)

[40, 30, 10]

199

In [54]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in ohlc[1:]:
    if i[3] > i[0]:
        print(abs(i[1] - i[2]))

10

200

In [55]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
total = 0
for i in ohlc[1:]:
    earn = i[3] - i[0]
    total += earn
print(total)

0