201

In [1]:
def print_coin():
    print("비트코인")

202

In [2]:
print_coin()

비트코인

203

In [ ]:
for i in range(100):
    print_coin()

204

In [ ]:
def print_coins():
    for i in range(100):
        print("비트코인")

205

In [ ]:
hello() # 함수가 정의되기 전에 호출 -> Error
def hello():
    print("Hi")

206

In [4]:
def message() :
    print("A")
    print("B")

message()
print("C")
message()

A
B
C
A
B

207

In [5]:
print("A")

def message() :
    print("B")

print("C")
message()

A
C
B

208

In [6]:
print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()

A
C
B
E
D

209

In [7]:
def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()

B
A

210

In [8]:
def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()

B
C
B
C
B
C
A

211

In [9]:
def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")

안녕
Hi

212

In [10]:
def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)

7
15

213

In [ ]:
def 함수(문자열) :
    print(문자열)
함수() # 함수를 정의와 다르게 호출 -> Error

214

In [ ]:
def 함수(a, b) :
    print(a + b)

함수("안녕", 3) # 자료형이 다르면 연산을 수행할 수 없음

215

In [15]:
def print_with_smile(문자):
    print(문자 + ":D")
    
print_with_smile("h")

h:D

216

In [2]:
def print_with_smile(문자):
    print(문자 + ":D")
    
print_with_smile("안녕하세요")

안녕하세요:D

217

In [4]:
def print_upper_price(price):
    print(price * 1.3)
    
print_upper_price(1000)

1300.0

218

In [5]:
def print_sum(num1, num2):
    print(num1 + num2)
    
print_sum(1, 2)

3

219

In [6]:
def print_arithmatic_operation(num1, num2):
    print(f"{num1} + {num2}  = {num1 + num2}")
    print(f"{num1} - {num2}  = {num1 - num2}")
    print(f"{num1} * {num2}  = {num1 * num2}")
    print(f"{num1} / {num2}  = {num1 / num2}")

print_arithmatic_operation(6, 2)

6 + 2  = 8
6 - 2  = 4
6 * 2  = 12
6 / 2  = 3.0

220

In [8]:
def print_max(num1, num2, num3):
    max = 0
    if num1 > max:
        max = num1
    if num2 > max:
        max = num2
    if num3 > max:
        max = num3
    print(max)

print_max(1, 2, 3)

3

221

In [10]:
def print_reverse(str):
    print(str[::-1])
    
print_reverse("hello")

olleh

222

In [11]:
def print_score(list):
    print(sum(list) / len(list))

print_score([1, 2, 3, 4, 5])

3.0

223

In [12]:
def print_even(list):
    for i in list:
        if i % 2 == 0:
            print(i)
            
print_even([1, 23, 4, 5, 6, 100])

4
6
100

224

In [14]:
def print_keys(dic):
    for k in dic.keys():
        print(k)

print_keys({"키":"쇠", "손잡이":"플라스틱"})

키
손잡이

225

In [15]:
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}

def print_value_by_key(dic, date):
    print(dic[date])
    
print_value_by_key(my_dict, "10/26")

[100, 130, 100, 100]

226

In [18]:
def print_5xn(str):
    for i in range(0, len(str), 5):
        print(str[i:i + 5])
    
print_5xn("아야어여오요유유")

아야어여오
요유유

227

In [23]:
def print_mxn(str, cnt):
    for i in range(0, len(str), cnt):
        print(str[i:i + cnt])
        
print_mxn("가나다라마바사과아자아자", 4)

가나다라
마바사과
아자아자

228

In [25]:
def calc_monthly_salary(annual_salary):
    monthly_pay = int(annual_salary / 12)
    return monthly_pay

monthly_pay = calc_monthly_salary(100000000)
print(monthly_pay)

8333333

229

In [26]:
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)

왼쪽: 100
오른쪽: 200

230

In [28]:
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)

왼쪽: 200
오른쪽: 100

231

In [ ]:
def n_plus_1 (n) :
    result = n + 1

n_plus_1(3)
print (result) # result 변수가 정의되지 않음 -> Error 발생

232

In [32]:
def make_url(str):
    url = "www." + str + ".com"
    return url

naver = make_url("naver")
print(naver)

www.naver.com

233

In [36]:
def make_list(list):
    my_list = []
    for i in list:
        my_list.append(i)
    return my_list

list = make_list("세종대왕")
print(list)

['세', '종', '대', '왕']

234

In [37]:
def pickup_even(list):
    my_list = []
    for i in list:
        if i % 2 == 0:
            my_list.append(i)
    return my_list

list = pickup_even([3, 4, 5, 6, 7, 8])
print(list)

[4, 6, 8]

235

In [42]:
def convert_int(str):
    return int(str.replace(',', ''))

i = convert_int("4,215,000")
print(i)

4215000

236

In [43]:
def 함수(num) :
    return num + 4

a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)

22

237

In [44]:
def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)

22

238

In [45]:
def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)

140

239

In [46]:
def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)

16

240

In [47]:
def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)

28